

.nav-menu-class {
    background:  #007BFF;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-link-class {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    margin-right: 25px; 
}


